---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import socialData from "@/data/social.json";
---

<MainLayout>
  <div
    class="flex flex-col items-center space-y-4 h-full justify-center bg-transparent"
  >
    <div
      class="flex flex-col items-center space-y-4 ring-2 max-w-fit mx-6 px-2 sm:mx-0 sm:max-w-96 text-center ring-border rounded-2xl py-5"
    >
      <Image
        alt="Profile Picture"
        class="w-32 h-32 rounded-full ring-2 ring-primary"
        height="120"
        src="/images/profile.jpeg"
        style={{
          aspectRatio: "120/120",
          objectFit: "cover",
        }}
        width="120"
      />
      <div>
        <h1 class="text-2xl font-bold capitalize">Hammoumi tarik</h1>
        <p class="text-gray-500 dark:text-gray-400 capitalize">
          software engineer | Full Stack Web Developer
        </p>
      </div>
      <div class="flex gap-4 flex-wrap px-4 justify-center">
        {
          Object.entries(socialData).map(([platform, details], index) => (
            <a href={details.url} target="_blank" rel="noopener noreferrer">
              <svg
                class="h-5 w-5"
                role="img"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>{platform}</title>
                <path fill="currentColor" d={details.d} />
              </svg>
            </a>
          ))
        }
      </div>
      <p>
        three years of system development and programming experience. committed to discovering and acquiring new abilities. I have a strong interest for creating effective, approachable solutions that have a significant impact.
      </p>
    </div>
  </div>
</MainLayout>
