---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import { CustomHoverCard } from '@/components/CustomHoverCard'
import socialData from '@/data/social.json'
---

<MainLayout>
  <div class="flex flex-col items-center space-y-4 h-full">
    <Image
      alt="Profile Picture"
      class="w-32 h-32 rounded-full border-2 border-gray-900"
      height="120"
      src="https://images.unsplash.com/photo-1457449940276-e8deed18bfff?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      style={{
        aspectRatio: "120/120",
        objectFit: "cover",
      }}
      width="120"
    />
    <h1 class="text-2xl font-bold">John Doe</h1>
    <p class="text-gray-500 dark:text-gray-400">Full Stack Web Developer</p>
    <div class="flex gap-4">
        {Object.entries(socialData).map(([platform, details], index) => (
          <CustomHoverCard key={index} platform={platform} data={details} client:load />
        ))}
    </div>
  </div>
</MainLayout>
